<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GradeForm</title>
</head>
<body>
    <h1>Final Score Calculator</h1>
    <div class="Gradeform">
        <form action="/gradesubmit" method="post">
            <table>
                <tr>
                    <th>Marks(Out of 100)</th>
                    <th>Weightages(%)</th>
                </tr>
                <tr>
                    <td>
                        <input type="number" id="mark1" name="mark1" value="">
                    </td>
                    <td>
                        <input type="number" id="weight1" name="weight1" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number" id="mark2" name="mark2" value="">
                    </td>
                    <td>
                        <input type="number" id="weight2" name="weight2" value="">
                    </td>
                </tr>
            </table>
            <div class="submitbutton">
                <input type="submit" value="submit">
            </div>
        </form>
    </div>


    
</body>
</html><!DOCTYPE html>