<html>
<head>
  <link rel="stylesheet" href="../static/exercise.css" />
  <title>Potato Biography</title>
</head>
<body>
  <h1>Hello I am a potato</h1>
  <h2>Skills</h2>
  <ul>
    <li>Being brown</li>
    <div Class="Starch">
      <li>Being starchy</li>
    </div>
  </ul>
  <div Class="Education">
    <h2>Education</h2>
      <ul>
        <li>Potato Primary School</li>
        <li>Potato Institution</li>
        <div Class="PJC">
          <li>Potato Junior College</li>
        </div>
        <li>National University of Potato</li>
      </ul>
  </div>
  <h2>Goals in life</h2>
  <p>Get eaten, preferably in a gourmet restaurant.</p>
</body>
</html>