<!DOCTYPE html>

<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>homework</title>
    <link rel="stylesheet" href="/static/productsexercisetable.css" />
</head>
<body>
    <div class="menu">
        <table>
            <tr>
                <div class="td1">
                    <button>Home</button>
                </div>
                <div class="td1">
                    <button>View Catalogue</button>
                </div>
                <div class="td1">
                    <button>Manage Catalogue</button>
                </div>
                <div class="td1">
                    <button>Help</button>
                </div>
            </tr>
        </table>
    </div>
    <h1> Products</h1>
    <table>
        <div class="product-row1">
            <tr>
                <td>
                    <div class="product">
                        <div class="product-image">
                            <image src="{{url_for('static', filename='Chicken.png')}}" alt="product image">
                        </div>           
                        <div class="product-text">
                            <div class="product-name">Alive Chicken</div>
                            <div class="product-description">  100g of protein</div>
                            <div class="product-price">
                               <button>$6.99 (No GST)</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="product">
                        <div class="product-image">
                            <image src="{{url_for('static', filename='Junxiang.png')}}" alt="product image">
                        </div>           
                        <div class="product-text">
                            <div class="product-name">Scholar Junxiang</div>
                            <div class="product-description">  Hacks computer for you and does your bidding</div>
                            <div class="product-price">
                                <button>$0.99 - 1.00 (No GST)</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="product">
                        <div class="product-image">
                            <image src="{{url_for('static', filename='Goofyemoji.png')}}" alt="product image">
                        </div>           
                        <div class="product-text">
                            <div class="product-name">GoofyEmoji</div>
                            <div class="product-description">Get on the spectrum</div>
                            <div class="product-price">
                                <button>$400(No GST)</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="product">
                        <div class="product-image">
                            <image src="{{url_for('static', filename='Pencilworth.png')}}" alt="product image">
                        </div>           
                        <div class="product-text">
                            <div class="product-name">Normal Pencil</div>
                            <div class="product-description">Worth Your Money</div>
                            <div class="product-price">
                                <button>$100,000,000,000,000,000(No GST included)</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </div>
    </table>
</body>
</html>
