<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML table2</title>
    <style>
        th,
        td,
        table{
            table-layout:fixed;
            background-color:grey;
            width:50%;
            border:1px solid black;
            border-collapse: collapse;
            margin-left:auto;
            margin-right:auto;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>{{ longtext }}</td>
            <td>{{ longtext }}</td>
        </tr>
        <tr>
            <td>{{ longtext }}</td>
            <td>{{ longtext }}</td>
        </tr>
    </table>
</body>
</html><!DOCTYPE html>